<h1>My Amazing Restaurants</h1>

<u>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
</u>

<%= link_to "Add a restaurant", new_restaurant_path %>
